@font-face {
font-family: "OpenSans"; /* Имя шрифта */
src: url(../fonts/OpenSans-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
font-family: "MyriadPro"; /* Имя шрифта */
src: url(../fonts/MYRIADPRO-REGULAR.OTF); /* Путь к файлу со шрифтом */
}