body {
	background: #fff;
	font-family: "Lato", "Times New Roman"
}

.clear {
	clear: both;
}

.pos-relative {
	position: relative;
}

.text-center {
	text-align: center;
}
.no-margin-left {
	margin-left:0 !important;
}

.wrap {
	width:1180px;
	margin: 0 auto;
}

.section1 {
	width: 100%;
	height: 880px;
	background: url("../img/background1600x880.png");
	background-size: 100% 100%;
}

.logo {
	display: block;
	width:71px;
	height:57px;
	background: url("../img/sprite.png");
	margin-top: 21px;
	float:left;
}
.navbar {
	float:right;
}
.navbar li {
	 display:block;
	 float: left;
	 margin-right: 20px;

}
.navbar li a {
	
	 line-height: 108px;
	 font-size: 14px;
	 font-weight: bold;
	 color: #fff;
	 text-transform: uppercase;
	 text-decoration: none;
}

.navbar:after {
	content: '';
	position: absolute;
	width: 14px;
	height: 10px;
	background: url("../img/sprite.png");
	background-position: -88px -28px;
	margin-top:50px;
}

.navbar li a:hover {
	opacity: 0.6;
}

.slogan-cursive {
	margin:237px auto 0;
	font-family: "Times New Roman";
	font-size: 36px;
	font-style: italic;
	font-weight: bold;
	color:#e9d9d9;
	text-align: center;
}
.slogan-big {
	margin:0 auto;
	font-size: 100px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
}
.button {
	display: block;
	width:274px;
	margin: 10px auto 0;
	line-height: 62px;
	border:3px solid #fff;
	border-radius: 2px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	color:#fff;
	text-align: center;
}
.button:hover {
	border-color: rgba(233, 217, 217, 0.6);
}

.slogan-small {
	margin:38px auto 0;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}

.slogan-small a {
	color: #fff;
}

.section2 {
	width: 100%;
	height:435px;
}

.icon-block {
	position: relative;
	width:360px;
	float:left;
	text-align: center;
	margin:225px 0 0 40px;
}

.icon-name1,.icon-name2,.icon-name3 {
	font-size: 18px;
	font-weight:bold;
	text-transform: uppercase;
}
.icon-name1:before,.icon-name2:before,.icon-name3:before {
	content:'';
	position:absolute;
	width: 107px;
	height: 107px;
	top:-124px;
	left:0;
	right:0;
	margin: 0 auto;
}

.icon-name1:before {	
	background: url("../img/sprite.png");
	background-position: 0 -73px;
}
.icon-name2:before {
	background: url("../img/sprite.png");
	background-position: -123px -73px;
}

.icon-name3:before {
	background: url("../img/sprite.png");
	background-position: -246px -73px;

}

.icon-text {
	margin-top:25px;
	color:#6b6b6b;
}

.icon-text:before {
	content:'';
	position:absolute;
	width: 88px;
	height: 1px;
	background: url("../img/sprite.png");
	background-position: -133px -33px;
	left:0;
	right:0;
	margin:-18px auto;
}

.section3 {
	width:100%;
	height: 880px;
	background: #f7f7f7;
}

.app-introduce {
	width:540px;
	margin: 180px 0 0;
	float:right;
}

.app-introduce:before {
	content: '';
	width: 548px;
	height: 778px;
	background: url("../img/iphone.png");
	position: absolute;
	left:-20px;
	top:103px;
}

.intro-header {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

.redline {
	width: 88px;
	height: 1px;
	background: url("../img/sprite.png");
	background-position: -133px -33px;
	margin-top: 7px;
}

.intro-text {
	font-weight: 300;
	font-size:16px;
	color:#676767;
}

.txt-block1 {
	margin-top:16px;
}
.txt-block2 {
	margin-top: 35px;
}

.appstore-btn {
	display: block;
	width: 112px;
	height: 39px;
	background: url('../img/sprite.png') no-repeat 0 -197px;
	float:left;
	margin-top: 28px;
}

.gplay-btn {
	display: block;
	width: 120px;
	height: 39px;
	background: url('../img/sprite.png') no-repeat -128px -197px;
	float: left;
	margin:28px 0 0 10px;
}

.contact {
	height: 640px;
	background: url('../img/contact_background.png');
}

.contact-header {
	padding-top: 120px;
	font-size: 60px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color:#fff;
}

.margin_top_30 {
	margin-top:30px;
}

.contact_left {
	float:left;
	width:570px;
}

.row {
	margin-bottom: 28px;
}


.row input[type="text"],input[type="email"] {
	width:98%;
	padding: 15px 0;
	border:medium none;
	border-radius: 4px;
}

.msg {
	width:570px;
	height:170px;
	margin-left: 40px;
	float: left;
}

.msg textarea {
	width:93%;
	height: 97%;
	padding:15px;
	border:medium none;
	border-radius: 4px;
}

.submit-btn {
	width: 295px;
	line-height: 80px;
	margin:0 auto;
	border:none;
	border-radius:3px;
	background: #ff0c3a;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color:#fff;
	cursor:pointer;
}

.footer {
	width:100%;
	background: #f7f7f7;
}

.copyright {
	line-height: 92px;
	font-size: 14px;
	color:#c5c5c5;
	float: left;
}

.design {
	line-height: 92px;
	font-size: 14px;
	float:right;
	text-transform: uppercase;
}

.design span {
	color:#c5c5c5;
}



