body {
	margin:0;
	font-family: Arial, Tahoma;
}

.wrap {
	width:960px;
	margin:0 auto;
}

.tab {
	display:block;
	width:150px;
	height:50px;
	background: #ff6d55;
	border-radius:5px;
	margin: 0 10px;
	float:left;
	line-height: 50px;
	text-align: center;
}

input[name="test"],
.tab1,.tab2,.tab3,.tab4 {
	display:none;
}

#radio1:checked~.tab1,
#radio2:checked~.tab2,
#radio3:checked~.tab3,
#radio4:checked~.tab4 {
	display:block;
}

.clear {
	clear:both;
}