body {
	background: url(img/img100x100.jpg);
}

.wrap {
	width: 960px;
	margin:10px auto;
	background: yellow;
}

.header {
	height:100px;
	padding: 50px;
	background: green url(img/img1000x400.jpg) no-repeat;
	background-size:100% 100%;
}

.logo {
	width: 200px;
	height: 100px;
	background:orange url(img/img200x100.jpg);
	margin: 0;
	margin-right: 20px;
	float: left;
	font-size: 0;
}
.logo a {
	display: block;
	height: 100%;
}

.nav {
	width: 640px;
	margin:0;
	padding: 0;
	float: left;
	
}

.nav li {
	display: block;
	width: 160px;
	height: 100px;
	background: red;
	float: left;
	text-align: center;
}

.nav li:hover {
	background: cyan;
}

.nav li a {
	display:block;
	line-height: 100px;
}

.clear {
	clear: both;
}

.container {
	padding: 50px;
	color: white;
}

.content {
	width: 520px;
	background: purple;
	float: left;
}

.sidebar {
	width: 320px;
	background: black;
	margin-left: 20px;
	float: left;
}

.footer {
	height:200px;
	background: pink;
}

.fr {
	float: right;
}

.fl {
	float: left;
}