/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.sprite-sprite, .sprite-logo, .sprite-menu, .sprite-service1, .sprite-service2, .sprite-service3, .sprite-service4, .sprite-yellow-dots, .menu:before, .services h1:after, .service1 h2:before, .service2 h2:before, .service3 h2:before, .service4 h2:before, .about h1:after, .blog h1:after, .portfolio h1:after, .clients h1:after {
  background-image: url('../img/sprite-s55f695ee67.png');
  background-repeat: no-repeat;
}

.sprite-logo {
  background-position: 0 -33px;
}

.sprite-menu {
  background-position: 0 0;
}

.sprite-service1 {
  background-position: 0 -535px;
}

.sprite-service2 {
  background-position: 0 -402px;
}

.sprite-service3 {
  background-position: 0 -269px;
}

.sprite-service4 {
  background-position: 0 -136px;
}

.sprite-yellow-dots {
  background-position: 0 -102px;
}

body {
  min-width: 320px;
  background: #fff;
  margin: 0 auto;
  font-family: "Open Sans";
  color: #fff;
}

.text-center {
  text-align: center !important;
}

.clear {
  clear: both;
}

.yellow-text {
  color: #ffe500;
}

header {
  line-height: 80px;
  height: 80px;
  box-shadow: 0 2px 0 0 #324651;
  position: relative;
}

nav {
  display: none;
}

.logo {
  float: left;
  display: block;
  width: 51px;
  height: 49px;
  margin: 16px 0 0 20px;
}

.menu {
  width: 32px;
  height: 32px;
  border: 2px solid #ffe500;
  border-radius: 4px;
  background: none;
  float: right;
  margin: 24px 20px 0 0;
}

.menu:before {
  content: '';
  position: absolute;
  background-position: 0 0;
  width: 24px;
  height: 13px;
  margin: -6px 0 0 -12px;
}

.slider {
  height: 475px;
  background: url("../img/background.png");
  background-size: cover;
  text-align: center;
}
.slider .greeting {
  padding-top: 158px;
  font-size: 16px;
  font-family: "Open Sans Light";
}
.slider h1 {
  margin-top: 10px;
  font-size: 70px;
  text-transform: uppercase;
  font-family: "Open Sans Semibold";
}
.slider .slider-text {
  margin-top: 10px;
  padding: 0 15px;
  font-size: 14px;
}
.slider .button {
  margin: 30px auto 0;
  background: #fff;
}
.slider .button:hover {
  background: #ffe500;
  color: #fff;
}

.button {
  display: block;
  line-height: 40px;
  width: 150px;
  border-radius: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-family: "Open Sans Semibold";
  font-size: 14px;
  background: #fff;
}

.services {
  color: #334752;
  text-align: center;
}
.services h1 {
  font-family: "Open Sans Semibold";
  font-size: 55px;
  text-transform: uppercase;
  margin-top: 40px;
}
.services h1:after {
  content: '';
  display: block;
  background-position: 0 -102px;
  width: 86px;
  height: 14px;
  margin: 20px auto;
}
.services .service-panel {
  margin: 0 auto;
  position: relative;
}

.service {
  font-family: "Open Sans Light";
  font-size: 15px;
  color: #637988;
  padding: 0 50px;
}
.service h2 {
  margin: 30px 0 20px;
  font-family: "Open Sans Semibold";
  font-size: 18px;
  text-transform: uppercase;
  color: #334752;
}
.service h2:before {
  content: '';
  display: block;
  width: 127px;
  height: 113px;
  margin: 50px auto 30px;
}

.service1 h2:before {
  background-position: 0 -535px;
}

.service2 h2:before {
  background-position: 0 -402px;
}

.service3 h2:before {
  background-position: 0 -269px;
}

.service4 h2:before {
  background-position: 0 -136px;
}

.video-block {
  margin-top: 30px;
  padding-bottom: 15px;
  background: #ffe500;
  text-align: center;
  color: #334752;
}
.video-block h1 {
  padding: 20px 0;
  font-family: "Open Sans Semibold";
  font-size: 40px;
  text-transform: uppercase;
}
.video-block .quote {
  font-family: "Open Sans Light";
  font-size: 15px;
  font-style: italic;
}
.video-block iframe {
  width: 90%;
  margin: 20px 0;
}
.video-block p {
  font-size: 15px;
  padding: 0 15px;
  margin: 15px 0;
  text-align: left;
}
.video-block .button {
  margin: 0 auto;
}
.video-block .button:hover {
  background: #324651;
  color: #fff;
}

.about {
  font-family: "Open Sans Light";
  font-size: 15px;
  color: #334752;
  text-align: center;
}
.about h1 {
  font-family: "Open Sans Semibold";
  font-size: 55px;
  text-transform: uppercase;
  margin-top: 40px;
}
.about h1:after {
  content: '';
  display: block;
  background-position: 0 -102px;
  width: 86px;
  height: 14px;
  margin: 20px auto;
}
.about h2 {
  color: #ffe500;
  font-family: "Open Sans Semibold";
  font-size: 30px;
  margin: 20px 0 10px;
}
.about h3 {
  font-family: "Open Sans Semibold";
  text-transform: uppercase;
}
.about p {
  padding: 0 15px;
  margin: 15px 0;
  text-align: left;
}

.socials {
  width: 160px;
  margin: 0 auto;
  color: #334752;
}
.socials a {
  display: block;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: #ffe500;
  margin: 0 9px;
  float: left;
}
.socials a:hover {
  background: #324651;
  color: #fff;
}

.skills {
  margin-top: 15px;
  background: #324651;
  text-align: center;
  color: #fff;
  padding: 20px;
}
.skills h2 {
  text-transform: uppercase;
  margin: 0;
}
.skills h4 {
  font-family: "Open Sans Light";
  font-size: 15px;
  text-transform: uppercase;
  margin: 15px 0 5px;
}
.skills progress {
  background-color: #fff;
  border: 0;
  height: 16px;
  width: 90%;
  border-radius: 8px;
  -webkit-appearance: none;
}
.skills progress::-webkit-progress-bar {
  background-color: #fff;
  border-radius: 8px;
}
.skills progress::-webkit-progress-value {
  background: #ffe500;
  border-radius: 8px;
}
.skills progress::-moz-progress-bar {
  border-radius: 8px 0 0 8px;
  background: #ffe500;
}

.company {
  background: #324651;
  color: #fff;
  padding-bottom: 15px;
}
.company h2 {
  margin: 0;
  text-transform: uppercase;
}

.blog {
  color: #334752;
  text-align: center;
  background: #fafafa;
  padding: 1px 0;
}
.blog h1 {
  font-family: "Open Sans Semibold";
  font-size: 55px;
  text-transform: uppercase;
  margin-top: 40px;
}
.blog h1:after {
  content: '';
  display: block;
  background-position: 0 -102px;
  width: 86px;
  height: 14px;
  margin: 20px auto;
}
.blog .post-wrap {
  width: 100%;
  margin: 0 auto;
}
.blog .post {
  width: 85%;
  margin: 40px auto;
  text-align: left;
  background: #fff;
  box-shadow: 0 1px 0 0 #c2cfd7;
}
.blog .post h2 {
  color: #ffe500;
  font-family: "Open Sans Semibold";
  font-size: 20px;
  margin: 20px 15px 0;
}
.blog .post img {
  width: 100%;
  height: 250px;
  background: #324651;
}
.blog .post .date {
  font-family: "Open Sans Light";
  font-size: 13px;
  margin: 10px 15px 15px;
  padding: 0;
}
.blog .post p {
  padding: 0 15px;
}
.blog .post a {
  margin: 15px;
  float: right;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Open Sans Semibold";
  color: #ffe500;
}

footer {
  background: #182227;
  text-align: center;
  font-family: "Open Sans Light";
  font-size: 18px;
  padding: 25px 0;
}
footer .phone {
  margin-top: 15px;
}
footer .socials {
  margin: 25px auto;
  width: 212px;
}
footer .socials a {
  background: #fff;
}
footer .socials a:hover {
  background: #ffe500;
}
footer .copyright {
  font-size: 12px;
}

.portfolio {
  color: #000;
  text-align: center;
}
.portfolio h1 {
  font-family: "Open Sans Semibold";
  font-size: 55px;
  text-transform: uppercase;
  margin-top: 40px;
}
.portfolio h1:after {
  content: '';
  display: block;
  background-position: 0 -102px;
  width: 86px;
  height: 14px;
  margin: 20px auto;
}
.portfolio .tab {
  display: block;
  padding: 0 15px;
  border-radius: 25px;
  margin: 10px 5px;
  float: left;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}
.portfolio input[name="test"],
.portfolio .all, .portfolio .webdesign, .portfolio .graphic, .portfolio .photo {
  display: none;
}
.portfolio #radio1:checked ~ .all,
.portfolio #radio2:checked ~ .webdesign,
.portfolio #radio3:checked ~ .graphic,
.portfolio #radio4:checked ~ .photo {
  display: block;
}
.portfolio #radio1:checked ~ label[for=radio1] {
  background: #ffe500;
}
.portfolio #radio2:checked ~ label[for=radio2] {
  background: #ffe500;
}
.portfolio #radio3:checked ~ label[for=radio3] {
  background: #ffe500;
}
.portfolio #radio4:checked ~ label[for=radio4] {
  background: #ffe500;
}
.portfolio img {
  background: #324651;
  margin: 15px auto;
  border-radius: 5px;
}

.clients {
  color: #334752;
  text-align: center;
}
.clients h1 {
  font-family: "Open Sans Semibold";
  font-size: 55px;
  text-transform: uppercase;
  margin-top: 40px;
}
.clients h1:after {
  content: '';
  display: block;
  background-position: 0 -102px;
  width: 86px;
  height: 14px;
  margin: 20px auto;
}
.clients img {
  width: 90%;
  margin: 20px auto;
  border-radius: 5px;
}

@media screen and (min-width: 850px) and (max-width: 1169px) {
  .service-panel {
    width: 580px;
    padding-bottom: 50px;
  }

  .service {
    width: 260px;
    padding: 0;
    margin: 0 15px;
    float: left;
  }

  .wrap {
    width: 850px;
    margin: 0 auto;
  }

  .blog .post-wrap {
    width: 850px;
    margin: 10px -15px;
  }
}
@media screen and (min-width: 800px) {
  .video-block iframe {
    width: 400px;
    height: 340px;
    float: left;
    margin: -50px 20px 0;
  }
  .video-block h1 {
    font-size: 30px;
    margin-left: 400px;
  }
  .video-block .button {
    display: inline-block;
  }

  .about img {
    float: left;
    margin-right: 15px;
  }
  .about h2 {
    margin-top: 30px;
  }
  .about p {
    margin: 25px 0;
  }
  .about .socials {
    width: auto;
    line-height: 35px;
    margin-top: 40px;
  }

  .skills {
    margin-top: 0;
    width: 400px;
    float: left;
  }
  .skills h2 {
    margin-top: 0;
  }

  .company h2 {
    margin-top: 0;
  }

  .skills, .company {
    padding: 20px 0;
  }

  .blog .post {
    width: 370px;
    float: left;
    margin: 15px;
  }

  .menu {
    display: none;
  }

  nav {
    display: block;
  }
  nav ul:first-child {
    float: left;
  }
  nav ul:nth-child(2) {
    float: right;
  }
  nav li {
    float: left;
  }
  nav a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #334752;
    padding: 0 20px;
  }
  nav a:hover {
    background: #fff599;
  }

  .logo {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: auto;
    right: 0px;
    bottom: 0px;
  }
}
@media screen and (min-width: 1170px) {
  .wrap {
    width: 1170px;
    margin: 0 auto;
  }

  nav ul:first-child {
    margin-left: 150px;
  }
  nav ul:nth-child(2) {
    margin-right: 150px;
  }

  .service-panel:before {
    content: '';
    background: url("../img/service-line.png");
    width: 841px;
    height: 2px;
    position: absolute;
    left: 165px;
    top: 106px;
    z-index: -1;
  }

  .service-panel {
    width: 1160px;
    padding-bottom: 50px;
  }

  .service {
    width: 260px;
    padding: 0;
    margin: 0 15px;
    float: left;
  }

  .skills {
    width: 50%;
  }

  .blog .post-wrap {
    width: 1200px;
    margin: 10px -15px;
  }
  .blog .post:first-child, .blog .post:nth-child(2) {
    width: 570px;
  }
}
