*.*::before,*::after {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.width50 {
	background: red;
	margin: 10px;
	height:200px;
}

@media screen and (min-width: 600px) {

	body {
		margin:5px;
	}

	.width50 {
		width:50%;
		float:left;
		margin:5px;
	}	

}